@font-face {  font-family: Quando; src: url(fonts/Quando-Regular.ttf); format("truetype"); }
@font-face {  font-family: SourceSansPro; src: url(fonts/SourceSansPro-Regular.ttf); format("truetype"); }
@font-face {  font-family: Montserrat; src: url(fonts/Montserrat-Regular.ttf); format("truetype"); }

body {
  background-color:#000000;
  font-family: SourceSansPro;
  font-size: 20px;
}
h1 {
  color:#EEEEEE;
  margin-left: 15px;
  margin-bottom: -8px;
  font-family: Quando;
  font-size: 37px;
}
h2 {
	color:#EEEEEE;
	font-family: Quando;
	font-size: 30px;
}
p {
	color:#EEEEEE;
}

.header-hero {
	top: 0;
	position: relative;
	background-color: #000000;
	transition: 0.2s;
}
#container-header-home {
	padding: 0px;
	display: flex;
	margin: -0.5em auto 0em 3em;
	align-items: center;
}
#container-header-text {
	display: normal;
	align-items: flex-start;
	padding: 0px;
	color: #FFFFFF;
}
#container-header-div {
	display: normal;
	align-items: center;
	padding: 0px;
	color: #D9D9D9;
}
#img-home {
	margin-left: 3.25em;
	width: 5.70em;
	padding: .4em;
}

.header-sidekick {
	position: sticky;
    top: 0;
	z-index: 1;
	margin: -1.25em 0em 3em 12em;
	background-color: #222222;
}
.header-button {
	border: none;
	background-color: #000000;
	color: #EEEEEE;
	padding: 0px 26px;
	font-size: 22px;
	float: left;
	transition-duration: 0.2s;
	cursor: pointer;
	font-family: SourceSansPro;
}
.header-button:hover {
	background-color: #7F7F7F;
	cursor: grab;
}
.header-button-disabled {
	border: none;
	color: white;
	background-color: #3D3D3D;
	padding: 0px 26px;
	font-size: 22px;
	float: left;
	font-family: SourceSansPro;
}

#container-video-reel {
	width: 500px;
	padding: 0px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -15px;
	width: 60%;
}
#container-disclaimer-text {
	text-align:center;
	display: block;
	color:#EEEEEE;
	margin-top: 0px;
	margin-bottom: 0px;
}