@font-face {  font-family: Quando; src: url(fonts/Quando-Regular.ttf); format("truetype"); }
@font-face {  font-family: SourceSansPro; src: url(fonts/SourceSansPro-Regular.ttf); format("truetype"); }
@font-face {  font-family: Montserrat; src: url(fonts/Montserrat-Regular.ttf); format("truetype"); }

body {
  background-color:#000000;
  font-family: SourceSansPro;
  font-size: 20px;
}

h1 {
  color:#EEEEEE;
  margin-left: 15px;
  font-family: Quando;
  font-size: 38px;
}

p {
	color:#EEEEEE;
	margin-left: 50px;
}

img {
	margin-left: 50px;
}

#container-video-reel {
	width: 500px;
	padding: 50px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

#container {
    display: flex;
}

#container-header-home {
	padding: 0px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	width: 90%;
}

#container-header-text {
	display: normal;
	align-items: normal;
	padding: 0px;
}